# Node
node_modules/
package-lock.json
npm-debug.log

# Expo
.expo/
.expo-shared/
web-build/
dist/

# Build
android/
ios/

# Environment
.env
.env.local
*.pem

# API Keys (مهم جداً)
src/services/*key*.js
src/services/*Key*.js
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
